@media (max-width: 2601px) {
    .card-icon {
        left: 1350px;
        top: 4750px;
    }
}
@media (max-width: 1981px) {
    .card-icon {
        left: 1050px;
        top: 4750px;
    }
}

@media (max-width: 1911px) {
    .girl-img {
        width: 900px;
        top: 300px;
        left: 815px;
    }
}

@media (max-width: 1881px) {
    .girl-img {
        width: 900px;
        top: 300px;
        left: 815px;
    }
}

@media (max-width: 1801px) {
    .plane-img {
        top: 0;
        left: -310px;
    }
}

@media (max-width: 1716px) {

    .email-container {
        width: 300px;
    }
    .footer__email-input {
        width: 200px;
    }
    .footer__main-names-left {
        left: -50px;
    }
    .footer__contact-main {
        left: -30px;
    }
}

@media (max-width: 1801px) {
    .header-line {
        display:block;
    }
    .nav__item {
        display: block;
    }
}

@media (max-width: 1801px) {
    .logo-text {
        left: 120px;
    }
}

@media (max-width: 1751px) {
    .nav__item {
        left: -100px;
    }
    .card-icon {
        left: 900px;
        top: 4750px;
    }
    .logo-text {
        left: 80px;
    }
    .footer__contact-newsletter {
        left: 430px;
    }
    .footer__contact-support {
        left: 300px;
    }
    .footer__contact-company {
        left: 50px;
    }
    .footer__main-names {
        left: -50px ;
    }
    .footer__cards-end {
        left: 1000px;
        top: 15px;
    }
    .girl-img {
        width: 900px;
        top: 300px;
        left: 655px;
    }
}

@media (max-width: 1551px) {
    .girl-img {
        width: 900px;
        top: 300px;
        left: 515px;
    }
}

@media (max-width: 1501px) {
    .girl-img {
        width: 800px;
        top: 400px;
        left: 550px;
    }

    .nav__list {
        margin: 0 0 0 70px;
        text-align: center;
    }

    .border-button {
        width: 100px;
        left: 30px;
    }

    .dropbtn {
        width: 90px;
        padding-left: 10px;
    }

    .dropdown {
        left: 30px;
    }

    .nav__item {
        margin: 0 50px 0 0;
        left: 100px;
    }

    .nav__link {
        font-size: 12px;
    }

    .card-icon {
        left: 800px;
        top: 4750px;
    }

    .card-container {
        padding-left: 40px;
    }

    .card__container-article-second {
        padding-left: 100px;
    }
    .article__second-header {
        margin-left: 620px;
    }
    .article__second-activity {
        margin-left: 550px;
    }
    .article__second-desc {
        margin-left: 110px;
    }
    .photo-grid {
        margin-right: 30px;
    }
    .section__second-header {
        margin-left: 550px;
    }
    .section__second-photos-title {
        margin-left: 400px;
    }
    .section__second-subtitle {
        margin: 20px 0 40px -70px;
    }
    .last__article-section-block {
        left: 100px;
    }
    .last__article-second-header {
        margin-left: 530px;
    }
    .last__article-second-photos-title {
        margin-left: 300px;
    }
    .last__article-second-subtitle {
        margin-left: 50px;
    }
}

@media (max-width: 1441px) {
    .footer__contact-main {
        left: 50px;
        top: -30px;
    }

    .footer__main-names {
        left: -10px;
    }

    .footer__contact-company {
        left: 100px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding-left: 485px;
    }
    .card-icon {
        left: 800px;
        top: 6250px;
    }
}

@media (max-width: 1281px) {
    .girl-img {
        width: 700px;
        top: 400px;
        left: 500px;
    }
    .last__article-section-block {
        left: 10px;
    }
    .last__article-second-header {
        margin-left: 470px;
    }
    .last__article-second-photos-title {
        margin-left: 250px;
    }
    .last__article-second-subtitle {
        margin-left: 100px;
    }
    .photo-grid {
        gap: 25px;
    }
    .section__second-header {
        margin-left: 480px;
    }
    .section__second-photos-title {
        margin-left: 350px;
    }
    .card-icon {
        left: 600px;
        top: 6250px;
        width: 480px;
    }
    .icon-card5 {
        top: 485px;
        left: 350px;
    }
    .card-container {
        padding-left: 420px;
    }
}

@media (max-width: 1081px) {
    .cards {
        position: relative;
        left: 240px;
    }
    .nav__list {
        margin: 0 0 0 -100px;
        text-align: center;
    }
    .girl-img {
        width: 600px;
        top: 500px;
        left: 480px;
    }
    .card {
        left: -100px;
    }
    .card-icon {
        left: 530px;
        top: 6900px;
        width: 480px;
    }
    .article__second-header {
        margin-left: 430px;
    }
    .article__second-activity {
        margin-left: 360px;
    }
    .article__second-desc {
        margin-left: 100px;
    }
    .section__second-header {
        margin-left: 400px;
    }
    .section__second-photos-title {
        margin-left: 250px;
    }
    .section__second-subtitle {
        margin-left: 0;
    }
    .last__article-second-header {
        margin-left: 350px;
    }
    .last__article-second-photos-title {
        margin-left: 150px;
    }
    .last__article-second-subtitle {
        margin-left: 50px;
    }
    .last__article-section-block {
        left: 10px;
        width: 1000px;
        height: 300px;
        padding-top: 50px;
    }
    .last__article-section-image6 {
        left: -30px;
        top: -275px;
        width: 70px;
    }
    .last__article-section-image5 {
        left: 140px;
        top: -275px;
        width: 70px;
    }
    .last__article-section-image4 {
        left: 10px;
        top: -125px;
        width: 70px;
    }
    .article__second-description {
        top: -190px;
    }
    .article__second-city-name {
        top: -190px;
    }
    .last__article-section-image3 {
        left: 560px;
        top: -125px;
        width: 70px;
    }
    .last__article-section-image2 {
        left: 730px;
        top: -125px;
        width: 70px;
    }
    .last__article-section-image1 {
        left: 900px;
        top: -125px;
        width: 70px;
    }
    .footer__contact-newsletter {
        left: 360px;
        top: 0px;
    }
    .footer__cards-end {
        left: 750px;
    }
}

@media (max-width: 1025px) {
    .girl-img {
        width: 500px;
        top: 600px;
        left: 550px;
    }
    .card-container {
        padding-left: 350px;
    }
    .card-icon {
        left: 550px;
        top: 6580px;
        width: 480px;
    }
    .card-icon .photo {
        width: 350px;
    }
    .article__second-header {
        margin-left: 420px;
    }
    .article__second-activity {
        margin-left: 350px;
    }
    .article__second-desc {
        margin-left: 110px;
    }
    .section__second-header {
        margin-left: 350px;
    }
    .section__second-photos-title {
        margin-left: 220px;
    }
    .last__article-second-header {
        margin-left: 300px;
    }
    .last__article-second-photos-title {
        margin-left: 200px;
        font-size: 50px;
    }
    .last__article-second-subtitle {
        margin-left: 50px;
    }
    .last__article-section-block {
        left: 40px;
        width: 900px;
        height: 250px;
        padding: 30px 0 0 0;
    }
    .email-container {
        width: 250px;
        position: relative;
        left: -10px;
        top: 0;
    }
    .footer__email-input {
        width: 150px;
    }
    .footer__contact-newsletter {
        left: 360px;
        top: 0px;
    }
    .footer__contact-support {
        left: 230px;
    }
    .footer__contact-main {
        left: 0;
    }
    .footer__contact-company {
        left: 90px;
    }
    .footer__cards-end {
        left: 700px;
    }
    .last__article-section-image6 {
        left: 0;
        top: -270px;
        width: 70px;
    }
    .last__article-section-image5 {
        left: 170px;
        top: -270px;
        width: 70px;
    }
    .last__article-section-image4 {
        left: 30px;
        top: -115px;
        width: 70px;
    }
    .article__second-description {
        top: -190px;
    }
    .article__second-city-name {
        top: -190px;
    }
    .last__article-section-image3 {
        left: 460px;
        top: -115px;
        width: 70px;
    }
    .last__article-section-image2 {
        left: 630px;
        top: -115px;
        width: 70px;
    }
    .last__article-section-image1 {
        left: 800px;
        top: -115px;
        width: 70px;
    }
    .nav__item {
        margin: 0 50px 0 0;
        left: 70px;
    }
    .card {
        width: 318px;
        height: 510px;
        left: 0;
    }
    .email-container .footer__email-button {
        position: relative;
        left: 0px;
    }
}

@media (max-width: 993px) {
    /* Здесь стили для планшетов*/
    body {
        font-size: 14px;
    }

    .card-container {
        padding-left: 330px;
    }

    .girl-img {
        width: 500px;
        top: 600px;
        left: 400px;
    }

    .article__big-title {
        font-size: 60px;
    }

    .article-text {
        font-size: 14px;
    }

    .article-subtitle {
        font-size: 20px;
    }
    .article-button {
        width: 160px;
        height: 60px;
        margin-top: 10px;
    }
    .logo-text {
        left: 370px;
        top: -100px;
    }
    .border-button {
        left: -480px;
        top: 50px;
    }
    .dropbtn {
        left: -510px;
        top: 60px;
        position: relative;
    }
    .dropdown-content {
        left: -300px;
        top: 110px;
    }
    .nav__item {
        left: 180px;
    }
    .card-icon .photo {
        width: 360px;
        left: 20px;
    }
    .icon-card5 {
        top: 485px;
        left: 320px;
    }
    .section__second-header {
        margin-left: 350px;
    }
    .section__second-photos-title {
        margin-left: 210px;
    }
    .section__second-subtitle {
        margin-left: 0;
    }
    .last__article-section-block {
        left: 40px;
        width: 850px;
        height: 250px;
        padding: 30px 0 0 0;
    }
    .email-container {
        width: 250px;
        position: relative;
        left: -10px;
        top: 0;
    }
    .footer__email-input {
        width: 160px;
    }
    .footer__contact-newsletter {
        left: 300px;
        top: 0;
    }
    .card-icon {
        left: 500px;
        top: 6595px;
        width: 400px;
    }
    .cards {
        position: relative;
        left: 220px;
    }
    .email-container .footer__email-button {
        position: relative;
        left: 0px;
    }
}

.topnav {
    display: none;
}

.header-description {
    display: none;
}

/* Burger Menu Adaptive Start */

@media (max-width: 993px) {
    .nav__list {
        display: none;
    }

    .topnav {
        display: block;
    }

    .header-description {
        display: block;
    }

    .mobile__subtitle-logo-text {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }

    .mobile-container {
        max-width: 100px;
        margin: auto;
        background-color: #555;
        position:relative;
        top: -230px;
        left: 370px;
        color: #fff;
        border-radius: 10px;
    }

    .topnav {
        overflow: hidden;
        background-color: #657166;
        position: relative;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a {
        float: left;
        color: #fff;
        padding: 10px 14px;
        text-decoration: none;
        font-size: 12px;
    }

    .topnav a.icon {
        float: right;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
}

@media (max-width: 913px) {
    .logo-text {
        left: 320px;
        top: -100px;
    }
    .card-icon {
        left: 490px;
        top: 6500px;
        width: 370px;
        margin-top: 70px;
    }
    .card__container-article-second {
        padding-left: 250px;
    }

    .card-container {
        padding-left: 280px;
    }

    .article__second-header {
        margin-left: 370px;
    }
    .article__second-activity {
        margin-left: 300px;
    }
    .section__second-photos-title {
        margin-left: 170px;
    }
    .section__second-header {
        margin-left: 320px;
    }
    .section-three {
        margin-left: 30px;
    }
    .last__article-section-block {
        width: 800px;
        left: 30px;
    }
    .last__article-section-image6 {
        left: -30px;
        top: -270px;
        width: 70px;
    }
    .last__article-section-image5 {
        left: 130px;
        top: -270px;
        width: 70px;
    }
    .last__article-section-image4 {
        left: -10px;
        top: -125px;
        width: 70px;
    }
    .article__second-description {
        top: -190px;
        font-size: 20px;
    }
    .article__second-city-name {
        top: -190px;
    }
    .last__article-section-image3 {
        left: 390px;
        top: -115px;
        width: 70px;
    }
    .last__article-section-image2 {
        left: 550px;
        top: -115px;
        width: 70px;
    }
    .last__article-section-image1 {
        left: 710px;
        top: -115px;
        width: 70px;
    }
    .footer__contact-support {
        left: 140px;
    }
    .footer__contact-newsletter {
        left: 200px;
        top: 0;
    }
    .footer__cards-end {
        left: 600px;
    }
    .cards {
        position: relative;
        left: 170px;
    }
    .email-container .footer__email-button {
        position: relative;
        left: 0;
    }

}

@media (max-width: 821px) {
    .logo-text {
        left: 285px;
        top: -100px;
    }

    .mobile-container {
        top: -230px;
        left: 330px;
    }

    .girl-img {
        width: 500px;
        top: 630px;
        left: 330px;
    }

    .card-icon {
        left: 0;
        top: 7050px;
        width: 370px;
        margin-top: 70px;
    }

    .card-container {
        padding-left: 240px;
    }

    .card-icon .photo {
        width: 320px;
        left: 25px;
    }
    .second__article-line {
        margin-top: 600px;
    }
    .article__second-header {
        margin-left: 320px;
    }
    .article__second-activity {
        margin-left: 250px;
    }
    .article__second-desc {
        margin-left: 110px;
    }
    .card__container-article-second {
        padding-left: 200px;
    }
    .section__second-header {
        margin-left: 300px;
    }
    .section__second-photos-title {
         margin-left: 140px;
     }
    .section__second-subtitle {
        margin: 20px 0 40px 40px;
    }
    .three__section-line {
        margin-left: 50px;
    }
    .last__article-section-block {
        left: 30px;
        width: 700px;
        height: 350px;
        padding: 70px 0 0 0;
    }
    .last__article-second-header {
        margin-left: 220px;
    }
    .last__article-second-photos-title {
        margin-left: 90px;
    }
    .last__article-second-subtitle {
        margin-left: 40px;
    }
    .last__article-section-image6 {
        left: -30px;
        top: -270px;
        width: 70px;
    }
    .last__article-section-image5 {
        left: 130px;
        top: -270px;
        width: 70px;
    }
    .last__article-section-image4 {
        left: -10px;
        top: -125px;
        width: 70px;
    }
    .article__second-description {
        top: -190px;
        font-size: 20px;
    }
    .article__second-city-name {
        top: -190px;
    }
    .last__article-section-image3 {
        left: 330px;
        top: -115px;
        width: 70px;
    }
    .last__article-section-image2 {
        left: 490px;
        top: -115px;
        width: 70px;
    }
    .last__article-section-image1 {
        left: 650px;
        top: -115px;
        width: 70px;
    }
    .footer__contact-support {
        left: 100px;
    }
    .footer__contact-newsletter {
        left: 170px;
        top: 0;
    }
    .email-container .footer__email-button {
        position: relative;
        left: 0px;
    }
    .footer__contact-company {
        left: 20px;
    }
    .footer__cards-end {
        left: 500px;
    }
    .cards {
        position: relative;
        left: 120px;
    }
}

@media (max-width: 769px) {
    .mobile-container {
        top: -230px;
        left: 320px;
    }
    .girl-img {
        left: 330px;
        top: 700px;
        width: 450px;
    }
    .cards {
        position: relative;
        left: 10px;
    }

    .card-container {
        padding-left: 210px;
    }

    .card__container-article-second {
        padding-left: 170px;
    }
    .article__second-header {
        margin-left: 300px;
    }
    .article__second-activity {
        margin-left: 220px;
    }
    .section__second-header {
        margin-left: 270px;
    }
    .section__second-photos-title {
        margin-left: 120px;
    }
    .section__second-subtitle {
        margin: 20px 0 40px 40px;
    }
    .last__article-section-block {
        left: 30px;
        width: 660px;
        height: 350px;
        padding: 70px 0 0 0;
    }
    .last__article-second-header {
        margin-left: 190px;
    }
    .last__article-second-photos-title {
        margin-left: 60px;
    }
    .last__article-second-subtitle {
        margin-left: 50px;
    }
    .last__article-section-image6 {
        left: -80px;
        top: -270px;
        width: 70px;
    }
    .last__article-section-image5 {
        left: 80px;
        top: -270px;
        width: 70px;
    }
    .last__article-section-image4 {
        left: -60px;
        top: -125px;
        width: 70px;
    }
    .article__second-description {
        top: -190px;
        font-size: 20px;
    }
    .article__second-city-name {
        top: -190px;
    }
    .email-container .footer__email-button {
        position: relative;
        left: 0px;
    }
    .last__article-section-image3 {
        left: 330px;
        top: -120px;
        width: 70px;
    }
    .last__article-section-image2 {
        left: 490px;
        top: -120px;
        width: 70px;
    }
    .last__article-section-image1 {
        left: 650px;
        top: -120px;
        width: 70px;
    }
    .footer__contact-newsletter {
        left: 120px;
        top: 0;
    }
    .footer__contact-support {
        left: 60px;
    }
    .logo-text {
        left: 260px;
        top: -100px;
    }
    .cards {
        padding: 100px 0 100px 100px;
    }
    .card-icon {
        left: 0;
        top: 7130px;
        width: 370px;
        margin-top: 70px;
    }

}

@media (max-width: 541px) {
    .logo-text {
        left: 80px;
        top: -100px;
    }

    .mobile-container {
        top: -270px;
        left: 200px;
    }

    .mobile__subtitle-logo-text {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        padding-top: 50px;
    }

    .girl-img {
        margin: 100px 0 100px 0;
        left: 80px;
        top: 1120px;
        width: 350px;
    }
    .cards {
        padding: 100px 0 100px 0;
    }
    .card-container {
        padding-left: 80px;
    }
    .hero button {
        top: 430px;
    }
    .card-icon {
        left: 0;
        top: 7430px;
        width: 370px;
        margin-top: 70px;
    }
    .card__container-article-second {
        padding-left: 60px;
    }
    .article__second-header {
        margin-left: 180px;
    }
    .article__second-activity {
        margin-left: 100px;
    }
    .section__second-header {
        margin-left: 145px;
    }
    .section__second-photos-title {
        margin-left: 130px;
    }
    .section__second-subtitle {
        margin-left: 20px;
    }
    .last__article-section-block {
        left: 10px;
        width: 460px;
        height: 450px;
        padding: 130px 0 20px 0;
    }
    .last__article-section-image6 {
        left: -70px;
        top: -270px;
        width: 50px;
    }
    .last__article-section-image5 {
        left: 45px;
        top: -270px;
        width: 50px;
    }
    .last__article-section-image4 {
        left: -55px;
        top: -150px;
        width: 50px;
    }
    .article__second-description {
        top: -190px;
        left: 0px;
        font-size: 18px;
    }
    .article__second-city-name {
        top: -190px;
    }
    .last__article-section-image3 {
        left: 230px;
        top: -150px;
        width: 50px;
    }
    .email-container .footer__email-button {
        position: relative;
        left: 0;
    }
    .last__article-section-image2 {
        left: 345px;
        top: -150px;
        width: 50px;
    }
    .last__article-section-image1 {
        left: 460px;
        top: -150px;
        width: 50px;
    }
    .footer__main-names-left {
        left: -10px;
    }
    .footer__main-names {
        left: 10px;
    }
    .email-container {
        width: 250px;
        position: relative;
        left: -200px;
        top: 460px;
    }
    .footer__email-input {
        width: 200px;
    }
    .footer__contact-newsletter {
        left: 50px;
        top: 0;
    }
    .footer__contact-support {
        left: 35px;
        top: 0;
    }
    .last__article-second-header {
        margin-left: 60px;
    }
    .last__article-second-photos-title {
        margin-left: 80px;
    }
    .last__article-second-subtitle {
        margin-left: 10px;
    }
    .footer__cards-end {
        left: 250px;
        top: 25px;
    }
}

@media (max-width: 481px) {
    .mobile-container {
        max-width: 100px;
        margin: auto;
        background-color: #555;
        position:relative;
        top: -270px;
        left: 170px;
        color: #fff;
        border-radius: 10px;
    }
    .girl-img {
        margin: 100px 0 100px 0;
        left: 10px;
        top: 1250px;
        width: 350px;
    }
    .card-container {
        padding-left: 50px;
    }
    .card-icon {
        left: 0;
        top: 7630px;
        width: 370px;
        margin-top: 70px;
    }
    .card__container-article-second {
        padding-left: 15px;
    }
    .article__second-header {
        margin-left: 130px;
    }
    .article__second-activity {
        margin-left: 70px;
    }
    .section-three {
        margin-left: -10px;
    }
    .section__second-header {
        margin-left: 100px;
    }
    .section__second-photos-title {
        margin-left: 90px;
    }
    .last__article-section-block {
        left: 10px;
        width: 400px;
        height: 600px;
        padding: 210px 20px 20px 0;
    }
    .last__article-second-header {
        margin-left: 30px;
    }
    .last__article-second-photos-title {
        margin-left: 60px;
    }
    .last__article-section-image6 {
        left: -50px;
        top: -250px;
        width: 40px;
    }
    .last__article-section-image5 {
        left: 45px;
        top: -250px;
        width: 40px;
    }
    .last__article-section-image4 {
        left: -35px;
        top: -145px;
        width: 40px;
    }
    .article__second-description {
        top: -190px;
        left: 0px;
        font-size: 16px;
    }
    .article__second-city-name {
        top: -190px;
        font-size: 14px;
    }
    .last__article-section-image3 {
        left: 190px;
        top: -145px;
        width: 40px;
    }
    .last__article-section-image2 {
        left: 285px;
        top: -145px;
        width: 40px;
    }
    .last__article-section-image1 {
        left: 380px;
        top: -145px;
        width: 40px;
    }
    .footer__cards-end {
        left: 200px;
        top: 20px;
    }
    .footer__main-names-left {
        left: -10px;
        font-size: 16px;
    }
    .footer__main-names {
        font-size: 16px;
    }
    .footer__contact-newsletter {
        left: 55px;
        top: 0;
        font-size: 12px;
    }
    .footer__contact-support {
        font-size: 12px;
    }
    .footer__contact-company {
        font-size: 12px;
    }
    .footer__addresses, .footer__email {
        font-size: 12px;
    }
    .footer__main-names-apps {
        position: relative;
        left: 40px;
    }
    .email-container .footer__email-button {
        position: relative;
        left: 0px;
    }
    .footer__ios-app-text {
        position: relative;
        left: 40px;
    }
}

@media (max-width: 431px) {
    .mobile-container {
        max-width: 100px;
        margin: auto;
        background-color: #555;
        position:relative;
        top: -270px;
        left: 160px;
        color: #fff;
        border-radius: 10px;
    }
    .girl-img {
        margin: 100px 0 100px 0;
        left: 10px;
        top: 1370px;
        width: 350px;
    }
    .card-container {
        padding-left: 20px;
    }
    .card-icon {
        left: 0;
        top: 7870px;
        width: 370px;
        margin-top: 70px;
    }
    .card__container-article-second {
        padding-left: 0;
    }
    .article__second-header {
        margin-left: 130px;
    }
    .article__second-activity {
        margin-left: 70px;
    }
    .section-three {
        margin-left: -10px;
    }
    .section__second-header {
        margin-left: 100px;
    }
    .section__second-photos-title {
        margin-left: 90px;
    }
    .last__article-section-block {
        left: -10px;
        width: 390px;
        height: 580px;
        padding: 200px 0 20px 0;
    }
    .last__article-second-header {
        margin-left: 10px;
    }
    .last__article-second-photos-title {
        margin-left: 30px;
    }
    .last__article-section-image6 {
        left: -50px;
        top: -240px;
        width: 30px;
    }
    .last__article-section-image5 {
        left: 25px;
        top: -240px;
        width: 30px;
    }
    .last__article-section-image4 {
        left: -35px;
        top: -145px;
        width: 30px;
    }
    .article__second-description {
        top: -180px;
        left: -10px;
        font-size: 16px;
    }
    .article__second-city-name {
        top: -190px;
        left: -10px;
        font-size: 14px;
    }
    .last__article-section-image3 {
        left: 180px;
        top: -145px;
        width: 30px;
    }
    .last__article-section-image2 {
        left: 260px;
        top: -145px;
        width: 30px;
    }
    .last__article-section-image1 {
        left: 340px;
        top: -145px;
        width: 30px;
    }
    .footer__cards-end {
        left: 160px;
        top: 70px;
    }
    .footer__main-names-left {
        left: -10px;
        font-size: 16px;
    }
    .footer__main-names {
        font-size: 16px;
    }
    .footer__contact-newsletter {
        left: 55px;
        top: 0;
        font-size: 12px;
    }
    .footer__contact-support {
        font-size: 12px;
        left: 30px;
    }
    .footer__contact-company {
        font-size: 12px;
        left: 10px;
    }
    .footer__addresses, .footer__email {
        font-size: 12px;
    }
    .footer__main-names-apps {
        position: relative;
        left: 10px;
    }
    .footer__ios-app-text {
        position: relative;
        left: 40px;
    }
    .hero button {
        top: 460px;
    }
    .email-container .footer__email-button {
        position: relative;
        left: 0px;
    }
}

@media (max-width: 415px) {
    .mobile-container {
        max-width: 100px;
        margin: auto;
        background-color: #555;
        position:relative;
        top: -300px;
        left: 130px;
        color: #fff;
        border-radius: 10px;
    }
    .girl-img {
        margin: 100px 0 100px 0;
        left: 10px;
        top: 1250px;
        width: 350px;
    }
    .card-container {
        padding-left: 20px;
    }
    .card-icon {
        left: 10px;
        top: 7700px;
        width: 370px;
        margin-top: 70px;
    }
    .card__container-article-second {
        padding-left: 10px;
        position: relative;
        left: -14px;
    }
    .article__second-header {
        margin-left: 100px;
    }
    .article__second-activity {
        margin-left: 40px;
    }
    .section-three {
        margin-left: -10px;
    }
    .section__second-header {
        margin-left: 70px;
    }
    .section__second-photos-title {
        margin-left: 60px;
    }
    .last__article-section-block {
        left: 0px;
        width: 370px;
        height: 650px;
        padding: 230px 0 20px 0;
    }
    .last__article-second-header {
        margin-left: 20px;
        font-size: 30px;
    }
    .last__article-second-photos-title {
        margin-left: 60px;
    }
    .last__article-section-image6 {
        left: -50px;
        top: -240px;
        width: 30px;
    }
    .last__article-section-image5 {
        left: 25px;
        top: -240px;
        width: 30px;
    }
    .last__article-section-image4 {
        left: -35px;
        top: -145px;
        width: 30px;
    }
    .article__second-description {
        top: -180px;
        left: -10px;
        font-size: 16px;
    }
    .article__second-city-name {
        top: -190px;
        left: -10px;
        font-size: 14px;
    }
    .last__article-section-image3 {
        left: 180px;
        top: -145px;
        width: 30px;
    }
    .last__article-section-image2 {
        left: 260px;
        top: -145px;
        width: 30px;
    }
    .last__article-section-image1 {
        left: 340px;
        top: -145px;
        width: 30px;
    }
    .footer__cards-end {
        left: 130px;
        top: 70px;
    }
    .footer__main-names-left {
        left: -10px;
        font-size: 16px;
    }
    .footer__main-names {
        font-size: 16px;
    }
    .footer__contact-newsletter {
        left: 45px;
        top: 0;
        font-size: 12px;
    }
    .footer__contact-support {
        font-size: 12px;
        left: 30px;
    }
    .footer__contact-company {
        font-size: 12px;
        left: 10px;
    }
    .footer__addresses, .footer__email {
        font-size: 12px;
    }
    .footer__main-names-apps {
        position: relative;
        left: -10px;
    }
    .footer__ios-app-text {
        position: relative;
        left: 0px;
    }
    .hero button {
        top: 460px;
    }
    .main__big-subtitle-second {
        font-size: 50px;
    }
    .main__big-subtitle {
        font-size: 50px;
    }
    .article__big-title {
        font-size: 50px;
    }
    .big__subtitle-section {
        font-size: 50px;
    }
    .logo-text {
        font-size: 30px;
    }
    .plane-img {
        left: -280px;
    }
    .last__article-second-photos-title {
        margin-left: 20px;
        font-size: 50px;
    }
    .cards {
        padding: 100px 0 100px 0;
        left: 0;
    }
    .email-container .footer__email-button {
        position: relative;
        left: 0;
    }
    .footer__email-input {
        width: 130px;
    }
}

@media (max-width: 376px) {
    .girl-img {

    }
    .logo-text {
        font-size: 24px;
    }
    .plane-img {
        left: -250px;
    }
    .girl-img {
        margin: 100px 0 100px 0;
        left: 0px;
        top: 1370px;
        width: 350px;
    }
    .card-icon {
        left: 10px;
        top: 7830px;
        width: 370px;
        margin-top: 70px;
    }
    .last__article-second-header {
        margin-left: 0;
        font-size: 30px;
    }
    .last__article-second-photos-title {
        margin-left: 60px;
    }
    .last__article-section-block {
        left: -10px;
        width: 370px;
        height: 650px;
        padding: 230px 0 20px 0;
    }
    .last__article-section-image6 {
        left: -50px;
        top: -240px;
        width: 30px;
    }
    .last__article-section-image5 {
        left: 25px;
        top: -240px;
        width: 30px;
    }
    .last__article-section-image4 {
        left: -35px;
        top: -145px;
        width: 30px;
    }
    .article__second-description {
        top: -180px;
        left: -10px;
        font-size: 16px;
    }
    .article__second-city-name {
        top: -190px;
        left: -10px;
        font-size: 14px;
    }
    .last__article-section-image3 {
        left: 160px;
        top: -145px;
        width: 30px;
    }
    .last__article-section-image2 {
        left: 240px;
        top: -145px;
        width: 30px;
    }
    .last__article-section-image1 {
        left: 320px;
        top: -145px;
        width: 30px;
    }
    .footer__main-names-left {
        left: -10px;
        font-size: 16px;
    }
    .footer__main-names {
        left: 20px;
        font-size: 16px;
    }
}

